.button-arounder {
    background-color: #0d6efd;
    color: white;
    padding: 2%;
}

.button-arounder:hover {
    background-color: #0b59ce;
}

.button {
    margin-left: 30%;
    margin-top: 6%;
}

@media (max-width: 1000px) {
    .button {
        margin-left: 0%;
    }
}

.pagination {
    background-color: #0b59ce;
}

.pagination a.current {
    font-weight: bold;
    text-decoration: underline;
}